<div class="raidraptor_header">
    <div class="header_logo">
        <div class="logo_wrapper">
            <div class="logo_placer">MY COMPANY</div>
            <div class="search_placer">
                <input type="text" value="Search my blog" name="searchbox" id="searchbox"/>
            </div>
            <div class="clearB"></div>
        </div>
    </div>
    <div class="header_nav">
        <div class="nav_wrapper">
            <div class="nav_item">
                <a href="#">Menu Item 1</a>
            </div>
            <div class="nav_item">
                <a href="#">Menu Item 2</a>
            </div>
            <div class="nav_item">
                <a href="#">Menu Item 3</a>
            </div>
            <div class="nav_item">
                <a href="#">Menu Item 4</a>
            </div>
            <div class="nav_item">
                <a href="#">Menu Item 5</a>
            </div>
            <div class="clearB"></div>
        </div>
    </div>
</div>