{% load staticfiles %}
<!HTMl DOCTYPE>
<html>
    <head>
        <title>Raid Raptor</title>
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
        <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="{% static 'css/raidraptor.css' %}" />
        <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/raidraptor.js' %}"></script>
    </head>
    <body>
        <div class="raidraptor_wrapper">
            <div class="raidraptor_gridbg"></div>
            <div class="raidraptor_w"></div>
            <div class="raidraptor_x"></div>
            <div class="raidraptor_y"></div>
            <div class="raidraptor_z"></div>
            <div class="raidraptor_login" id="raidraptor_cmd_console">
                <div class="login_header">Command console</div>
                <div class="login_content"></div>
            </div>
        </div>
    </body>
</html>