* {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body, div, p, span, img{
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

div {
    display: block;
    position: relative;
}

.raidraptor_wrapper {
    width: 100%;
    height: 100%;
    background-image: url('../images/background_dark.png');
}

.raidraptor_gridbg {
    background-image: url("../images/bg_pattern.png");
    height: 100%;
    left: 0;
    opacity: 0.125;
    position: absolute;
    top: 0;
    width: 100%;
}

.raidraptor_login {
    width: 560px;
    height: 240px;
    background-color: #000;
    margin: 0 auto;
    position: absolute;
    top: calc(50% - 120px);
    left: calc(50% - 280px);
    display: none;
    box-shadow: 2px 2px 3px 0 #111;
}

.login_header {
    background-color: #FFF;
    border: solid 1px #000;
    padding: 2px 3px;
    font-weight: bold;
}

.raidraptor_w, .raidraptor_x, .raidraptor_y, .raidraptor_z {
    transition: all 0.5s ease;
}

.raidraptor_w {
    width: 1px;
    height: 0px;
    background-color: #FFF;
    position: absolute;
    top: 0;
    left: calc(50% - 280px);
    opacity: 0.45;
}

.raidraptor_x {
    width: 0px;
    height: 1px;
    background-color: #FFF;
    position: absolute;
    top: calc(50% - 120px);
    right: 0;
    opacity: 0.45;
}

.raidraptor_y{
    width: 1px;
    height: 0px;
    background-color: #FFF;
    position: absolute;
    bottom: 0;
    left: calc(50% + 280px);
    opacity: 0.45;
}

.raidraptor_z {
    width: 0px;
    height: 1px;
    background-color: #FFF;
    position: absolute;
    top: calc(50% + 120px);
    left: 0;
    opacity: 0.45;
}

.clearB {
    clear: both;
}